/* font-family: 'Cinzel', serif;
font-family: 'Cairo', sans-serif;
font-family: 'Bebas Neue', cursive;*/

/* Font Extra */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Navbar + Title */

#title{
    background-color: #017bf5;
    padding-bottom: 80px;
}

nav{
    margin-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-size:2.5rem;
    font-weight:bold;
    letter-spacing: 2px;
    padding-left: 30px;
}

.nav-item{
    padding:0 18px;
    /* font-family: 'Cinzel', serif; */
}

.nav-link{
    font-size: 1.2rem;
    font-weight:lighter;
    color:rgb(136, 211, 255);
}

.nav-link:hover{
    color:#fff;
}

.head{
    font-family: 'Cinzel', serif;
    color:#fff;
    padding-left: 100px;
    font-size: 40px;
}

.head-img{
    width:43%;
    position: relative;
    margin-left:600px;
    margin-top:-440px;
}


/* About Us */

#About-Us{
    padding:46px 20px;
    background-color: rgb(240, 239, 239);
}

#gp{
    padding-top: 50px;
    width:50%;
    text-align: center;
    position: relative;
    left:310px;   
}

h2{
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    color: #403333;
}

h1{
    color:#272643;
    margin-bottom: 30px;
}

h3{
    color:#272643;
}

.AU{
    font-family: 'SFpro7';
    font-size: larger;
    line-height: 2;
}


/* Previous Events */

#PEV{
    padding:50px 20px;
    background-color:rgb(143, 208, 251); 
}

#events{
    width:60%;
    position: relative;
    left:257px;
}

#carouselExampleCaptions{
    margin-top:-45px;
}

h5{
    font-family: 'Cinzel', serif;
}

.ci{
    /* font-family: 'Cinzel', serif; */
}

.carousel-item{
    padding-bottom:17%;
    padding-left:10%;
    padding-right:10%;
}


/* Contact */

#Contact{
    padding-top: 20px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 239, 239);
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: 0 0 15px grey;
    text-align: center;
    color: gray;
    border-radius: 5px;
    padding: 7px;
    margin-bottom:0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    width: 80vw;
    padding: 15px;
} 

.contact-info {
    display: flex;
    width: 90%;
    background-color: #e3f6f5;
}


.details {
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #2c698d;
    color: white;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0 0 15px rgb(46, 119, 196);

} 

.contact-items{
    display: flex;
    align-items: center;
    font-size: 12px;
    /* margin-left: 5px; */
}
.contact-items-wrapper{
    padding: 25px;
}

.details h3 {
    text-align: center;
    color:#fff;
}

.details p {
    font-size: 15px;
    margin-left: 15px;
}

.details p a{
color: white;
}

.details p a:hover{
color: rgb(160, 154, 154);
}

.material-icons{
    width: 12px;
    margin: 5px;
    margin-top:-10px;
    margin-right: 8px;
}

input {
    margin: 5px 15px;
    height: 25px;
}

textarea {
    height: 150px;
    margin: 5px 15px;
}

button {
    margin: 5px 15px;
    width: 80px;
    background: #0069f7;
    padding: 3px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}


/* Footer */
#footer{
    margin-top:60px;
    text-align: center;
    background-color: #017bf5;
    padding-bottom:20px;
}

i{
    color:#fff;
}

a{
    color:#89cef3;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

a:hover{
    color:#fff;
}

span{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    color: #fff;
    margin-right:12px;
}

.fa-solid{
    padding-top: 40px;
    margin-right: 100px;
    margin-left: 20px;
}

.fa-brands{
    padding-top: 40px;
    margin-right: 30px;
}

.mail{
    padding-right: 25px;
}

.ig{
    margin-left:20px;
    padding-right: 0px;
}




/* Media Breakpoints */
@media screen and (max-width:780px) {
    .contact-info {
    flex-direction: column;
    width: 90%;
}
form{
    width: 100%;
    margin-bottom: 5px;
}
.details{
    width: 100%;
}
}
